<%- include('../partials/header') %> 
<form action="/login" method="POST" class="loging">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
    </div>
    <% if(error !== undefined) { %>
      <p class="text-justify text-danger"> mistake: <%= error %> </p>
    <%}%>
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>